<form [formGroup]="callForm" class="call__form">
    <div class="form__base-info">
        <mat-form-field>
            <input title="id" matInput formControlName="id" placeholder="id">
        </mat-form-field>

        <mat-form-field>
            <input title="startedAt" matInput formControlName="startedAt" placeholder="start">
        </mat-form-field>

        <mat-form-field>
            <input title="finishedAt" matInput formControlName="finishedAt" placeholder="ended">
        </mat-form-field>

        <mat-form-field>
            <input title="duration" matInput formControlName="duration" placeholder="duration">
        </mat-form-field>

        <mat-form-field>
            <input title="contactPhone" matInput formControlName="contactPhone" placeholder="contact">
        </mat-form-field>

        <mat-form-field>
            <input title="displayedNumber" matInput formControlName="displayedNumber" placeholder="displayed number">
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="saveCall()">Save</button>
    </div>

    <div class="call__wrapups">
        <ng-container
                *ngFor="let item of callForm.controls['wrapups']['controls']; let i = index; trackBy: trackWrapup">
            <div formArrayName="wrapups" class="wrapup-item__wrapper">
                <div [formGroupName]="i" class="wrapup-item__content">
                    <mat-form-field>
                        <input title="wrapupId" formControlName="wrapupId" placeholder="wrapupId" matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <input title="agentId" formControlName="agentId" placeholder="agent" matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea title="wrapupComment" formControlName="wrapupComment" placeholder="comment"
                                  matInput></textarea>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>
    </div>

</form>