.call__form {
  display: flex;
  padding: 1rem;
  max-width: 100%;
}

.form__base-info {
  max-width: 22rem;
  display: flex;
  flex-direction: column;
}

.call__wrapups {
  margin-left: 2rem;
  display: grid;
  width: 100%;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.wrapup-item__wrapper {
  display: flex;
}

.wrapup-item__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapup-item {
  display: flex;
  flex-direction: column;

  &::ng-deep {
    mat-form-field {
      width: 100%;
    }
  }
}

