<main class="container">
    <div class="login-container">
        <div class="login-wrapper">
            <form [formGroup]="loginForm" class="login-form">
                <mat-form-field floatLabel="never">
                    <mat-label>Enter your email</mat-label>
                    <input formControlName="email"
                           matInput
                           name="email"
                           placeholder="Email"
                           type="email"
                           title="email">
                </mat-form-field>
                <mat-form-field floatLabel="never">
                    <input formControlName="password"
                           matInput
                           name="password"
                           placeholder="Password"
                           type="password"
                           title="password">
                </mat-form-field>
                <button mat-flat-button color="accent" (click)="login()">Login</button>
            </form>
        </div>
    </div>
</main>