@import "src/palette";
.container {
  position: relative;
  width: 100%;
  max-width: 80rem;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  width: 20rem;
  background-color: $background-color;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}