<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 calls-table">

    <ng-container *ngFor="let call of columnNames; let i=index">
        <ng-container matColumnDef="{{ call }}">
            <th mat-header-cell *matHeaderCellDef>{{ call | splitName }}</th>
            <td mat-cell *matCellDef="let element"> {{ element[call] }} </td>
        </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames;" (click)="navigate(row)" class="calls-table__row"></tr>
</table>