<mat-toolbar>
    <div class="toolbar-wrapper">
        <ng-container [ngSwitch]="currentPage">

            <div class="toolbar-title">
                <ng-container *ngIf="currentPage !== 'Call list'">
                    <button mat-icon-button (click)="back()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </ng-container>
                <span>{{ currentPage }}</span>
            </div>
        </ng-container>
        <button mat-icon-button color="primary" (click)="logout()">
            <mat-icon>meeting_room</mat-icon>
        </button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>